<aside class="sidebar">
    <h2>Sidebar</h2>
    <nav>
        <ul>
            <li><a href="">Dashboard</a></li>
            <li><a href="{% url 'registered_users' %}">Registered Users</a></li>
            <li><a href="{% url 'devices_location' %}">Devices Location</a></li>
            <li><a href="{% url 'lost_devices' %}">Lost Devices</a></li>    
            <li><a href="{% url 'last_location' %}">Last location</a></li>
            <li><a href="{% url 'home' %}">Home</a> </li>
            <li><a href="{% url 'logout' %}">Logout</a> </li>
        </ul>
    </nav>
</aside>
